<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BookingFlight</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>adminloginservlet</display-name>
    <servlet-name>adminloginservlet</servlet-name>
    <servlet-class>com.registration.adminloginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloginservlet</servlet-name>
    <url-pattern>/adminloginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminloginservletfile</display-name>
    <servlet-name>adminloginservletfile</servlet-name>
    <servlet-class>com.registration.adminloginservletfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminloginservletfile</servlet-name>
    <url-pattern>/adminloginservletfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addflightsservlet</display-name>
    <servlet-name>addflightsservlet</servlet-name>
    <servlet-class>com.registration.addflightsservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addflightsservlet</servlet-name>
    <url-pattern>/addflightsservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transactions</display-name>
    <servlet-name>transactions</servlet-name>
    <servlet-class>com.registration.transactions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transactions</servlet-name>
    <url-pattern>/transactions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveseat</display-name>
    <servlet-name>saveseat</servlet-name>
    <servlet-class>com.registration.saveseat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveseat</servlet-name>
    <url-pattern>/saveseat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bookseatservlet</display-name>
    <servlet-name>bookseatservlet</servlet-name>
    <servlet-class>com.registration.bookseatservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookseatservlet</servlet-name>
    <url-pattern>/bookseatservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>seatbookservlet</display-name>
    <servlet-name>seatbookservlet</servlet-name>
    <servlet-class>com.registration.seatbookservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seatbookservlet</servlet-name>
    <url-pattern>/seatbookservlet</url-pattern>
  </servlet-mapping>
</web-app>